@import 'tailwindcss';
@import '@fontsource/instrument-sans/latin-400.css';
@import '@fontsource/instrument-sans/latin-500.css';
@import '@fontsource/instrument-sans/latin-600.css';
@import '@fontsource/instrument-sans/latin-700.css';
@import '@fontsource/instrument-serif/latin-400-italic.css';

@layer base {
  html {
    font-size: 16px;
  }
  body {
    @apply bg-stone-100 text-stone-900 dark:bg-stone-900 dark:text-stone-100;
    font-family: 'Instrument Sans', sans-serif;
  }
}

@layer utilities {
  .font-serif {
    font-family: 'Instrument Serif', serif;
  }
}
