@import 'tailwindcss';
@import '@fontsource/instrument-sans/400.css';
@import '@fontsource/instrument-sans/500.css';
@import '@fontsource/instrument-sans/600.css';
@import '@fontsource/instrument-sans/700.css';

@layer base {
  html {
    font-size: 16px;
  }
  body {
    @apply bg-stone-100 text-stone-900 dark:bg-stone-900 dark:text-stone-100;
    font-family: 'Instrument Sans', sans-serif;
  }
}
