@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@import '@fontsource/zalando-sans/latin-400.css';
@import '@fontsource/zalando-sans/latin-500.css';
@import '@fontsource/zalando-sans/latin-600.css';
@import '@fontsource/zalando-sans/latin-700.css';
@import '@fontsource/zalando-sans-semiexpanded/latin-400.css';
@import '@fontsource/zalando-sans-semiexpanded/latin-500.css';
@import '@fontsource/zalando-sans-semiexpanded/latin-600.css';
@import '@fontsource/zalando-sans-semiexpanded/latin-700.css';

@layer base {
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-stone-100 text-stone-900 dark:bg-stone-900 dark:text-stone-100;
    font-family: 'Zalando Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overscroll-behavior-y: contain;
  }
}

@layer utilities {
  .font-serif {
    font-family: 'Zalando Sans SemiExpanded', sans-serif;
  }
}
